.slanted-box {
  width: 55% !important ; /* Adjust the width of the square box */
  height: 192px !important; /* Adjust the height of the square box */
  position: relative;
  overflow: hidden;
  background-color: "#FFFFFF";
  opacity: "70%";

  position: "absolute";
}
.slanted-box:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 70%;
  background-color: white;
  transform-origin: bottom right;
  transform: skew(-30deg);
}
