.MIcon {
  margin-right: 22px;
  color: #657372;
  width: 22.5px !important;
  height: 22.5px !important;
  top: 3.44px;
  left: 3.44px;
}
.MIcon-Profile {
  width: 45px !important;
  height: 45px !important;
}
